.build/
build/
dist/
DerivedData/
*.xcuserstate
*.xcuserdata
xcuserdata/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
.DS_Store
.venv-coreml/
*.swp
*~
Vapor/Resources/ollama
Vapor/Vapor/Resources/ollama
Vapor/Vapor/Resources/paraphrase-multilingual-MiniLM-L12-v2-512tokens.mlmodel
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
